<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - ToDo List!</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">ToDo List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
                aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_tasks') }}">All Tasks <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_task') }}">Add Task</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-md-0" id="search-form">
                <input class="form-control" placeholder="Search" type="search" id="search">
            </form>
        </div>
    </nav>
</header>
<main id="content" class="container" role="main">
    <h1 class="mt-5">{{ title }}</h1>
    {% block content %}{% endblock %}
</main>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript">
    const element = document.getElementById('search-form');
    element.addEventListener('submit', function(event){
      event.preventDefault();
      let search_url = "{{ url_for('all_tasks', _external=True) }}";
      window.open(search_url + 'search/' + document.getElementById("search").value, "_self");
    });
  </script>
</body>
</html>