{% extends 'base.html' %}

{% block content %}
    <span class="float-right p-1 btn-group">
        <a href="{{ url_for('all_tasks') }}" class="btn btn-primary">All Tasks</a>
        <a href="{{ url_for('today_tasks') }}" class="btn btn-primary">Today Tasks</a>
    </span>
    <label for="toggle-done">Only undone Tasks</label><input type="checkbox" id="toggle-done" onchange="toggle_done_tasks(this)">
    <div class="table-responsive">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Done</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <th scope="row">{{ task.id }}</th>
                    <td>{{ task.todo }}</td>
                    <td>{{ task.desc }}</td>
                    <td>{{ task.start_date }} to {{ task.deadline }}</td>
                    <td>{{ task.time }}</td>
                    <td>{% if task.done %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            {% if task.done %}
                                <a href="{{ url_for('undone_task', task_id=task.id) }}" class="btn btn-warning btn-sm">Un-done!</a>
                            {% else %}
                                <a href="{{ url_for('done_task', task_id=task.id) }}" class="btn btn-success btn-sm">Done!</a>{% endif %}
                            <a href="{{ url_for('edit_task', task_id=task.id) }}"
                               class="btn btn-primary btn-sm">Edit</a>
                            <a href="{{ url_for('remove_task', task_id=task.id) }}"
                               class="btn btn-danger btn-sm">Remove</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        var all_tasks = document.getElementsByTagName("tr");
        function toggle_done_tasks(checkbox) {
            if (checkbox.checked === true){
                for (let i = 0; i < all_tasks.length; i++) {
                    if (all_tasks[i].children[5].textContent === 'Yes') {
                        all_tasks[i].setAttribute('hidden', '');
                    }
                }
            } else {
                for (let i = 0; i < all_tasks.length; i++) {
                    all_tasks[i].removeAttribute('hidden');
                }
            }
        }
    </script>
{% endblock %}