{% macro render_field(field) %}
    <div class="form-group">
        <label>{{ field.label(class_='col-md-12') }}</label>
        <div class="col-sm-12">
            {{ field(class_='form-control', **kwargs)|safe }}
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="alert alert-danger"><strong>{{ error }}</strong></span>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}
